<div class="flex-container">
  <div class="flexbox-item flexbox-item-1">Rohan</div>
  <div class="flexbox-item flexbox-item-2">Buddhdev</div>
</div>
<br>
<div class="flex-container-2">
  <div class="flexbox-item flexbox-item-3">Rohan Buddhdev</div>
</div>
<br>
<div class="grid-container"> 
  <div class="grid-item grid-item-1"><span *ngFor = " let num of loop">
      <p>2 x {{ num }} = {{ num*2 }}</p>
    </span>
  </div>
  <div class="grid-item grid-item-2"><span *ngFor = "let numb of loop">
      <p>3 x {{ numb }} = {{ numb*3 }}</p>
    </span>
  </div>
  <div class="grid-item grid-item-3"><span *ngFor = "let nu of loop">
      <p>4 x {{ nu }} = {{ nu*2 }}</p>
    </span>
  </div>
</div>
<router-outlet></router-outlet>